<b>Click a State</b>
{{!-- Changed the patch to include state query because it wasn't displaying anything when I click a state --}}
<p></p> 
<a href="/pop?state=AK">AK</a>|
<a href="/pop?state=AL">AL</a>|
<a href="/pop?state=AR">AR</a>|
<a href="/pop?state=AZ">AZ</a>|
<a href="/pop?state=CA">CA</a>|
<a href="/pop?state=CO">CO</a>|
<a href="/pop?state=CT">CT</a>|
<a href="/pop?state=DC">DC</a>|
<a href="/pop?state=DE">DE</a>|
<a href="/pop?state=FL">FL</a>| <br/>
<a href="/pop?state=GA">GA</a>|
<a href="/pop?state=HI">HI</a>|
<a href="/pop?state=IA">IA</a>|
<a href="/pop?state=ID">ID</a>|
<a href="/pop?state=IL">IL</a>|
<a href="/pop?state=IN">IN</a>|
<a href="/pop?state=KS">KS</a>|
<a href="/pop?state=KY">KY</a>|
<a href="/pop?state=LA">LA</a>| <br/>
<a href="/pop?state=MA">MA</a>|
<a href="/pop?state=MD">MD</a>|
<a href="/pop?state=ME">ME</a>|
<a href="/pop?state=MI">MI</a>|
<a href="/pop?state=MN">MN</a>|
<a href="/pop?state=MO">MO</a>|
<a href="/pop?state=MS">MS</a>|
<a href="/pop?state=MT">MT</a>| <br/>
<a href="/pop?state=NC">NC</a>|
<a href="/pop?state=ND">ND</a>|
<a href="/pop?state=NE">NE</a>|
<a href="/pop?state=NH">NH</a>|
<a href="/pop?state=NJ">NJ</a>|
<a href="/pop?state=NM">NM</a>|
<a href="/pop?state=NV">NV</a>|
<a href="/pop?state=NY">NY</a>| <br/>
<a href="/pop?state=OH">OH</a>|
<a href="/pop?state=OK">OK</a>|
<a href="/pop?state=OR">OR</a>|
<a href="/pop?state=PA">PA</a>|
<a href="/pop?state=RI">RI</a>|
<a href="/pop?state=SC">SC</a>|
<a href="/pop?state=SD">SD</a>|
<a href="/pop?state=TN">TN</a>|
<a href="/pop?state=TX">TX</a>| <br/>
<a href="/pop?state=UT">UT</a>|
<a href="/pop?state=VA">VA</a>|
<a href="/pop?state=VT">VA</a>|
<a href="/pop?state=WA">WA</a>|
<a href="/pop?state=WI">WI</a>|
<a href="/pop?state=WV">WV</a>|
<a href="/pop?state=WY">WY</a>
