<h1>{{title}}</h1>
<form method="post" action="/admin/add">
  <label for="product-name">Product Name:</label>
  <input type="text" id="product-name" name="productName"><br><br>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br><br>
  <label for="price">Price:</label>
  <input type="text" id="price" name="price"><br><br>
  <label for="quantity">Quantity in Stock:</label>
  <input type="text" id="quantity" name="quantity"><br><br>
  <input type="submit" value="Save">
  <input type="button" value="Cancel" class="btn btn-danger" onclick="cancelAdd()">
</form>