<table>
  <tr>
    <th>Customer Name</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>Customer 1</td>
    <td>
      <button>View Orders</button>
    </td>
  </tr>
  <!-- repeat the above tr for each customer -->
</table>